/* chris fiorino personal webpage style sheet */ 

div {
	display: block;
}

body {
	background-color: #EAE7E6;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 65px;
    text-align: center;
}

/* Intro Section */
body div.intro {
 	color: #058ED9;
 	text-align: center;
}

/*Section Div Color*/
body div.header {
	background-color: #BFC0C0;
}

/*Section Content*/
body div div.section {
	font-size: 100%;
}
